/* .red{
    color: red;
} */
#container{
    height: 400px;
    width: 400px;
    background: purple;
    position: relative;
}

#animation{
    height: 50px;
    width: 50px;
    background: red;
    position: absolute;
}

